<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Aaron R McGrath Personal Website</title>

    <!-- STYLES -->
    <link rel="stylesheet" href="/assets/vendors/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="/assets/vendors/bootstrap/dist/css/bootstrap.css.map" />
    <link rel="stylesheet" href="/assets/styles/stylesheet.css" />


    <!-- SCRIPTS -->

    <script type="text/javascript" src="/assets/vendors/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="/assets/vendors/jquery/dist/jquery.min.js"></script>

    <script type="text/javascript" src="/assets/scripts/client.js"></script>
    <base href="/">


  </head>
  <body>
    <h1 class="container text-center jumbotron">Welcome to aaronrmcgrath.com!</h1>

    <div class="container">

      <p class="container text-center">
        Hi, I'm Aaron R McGrath and this is my website. Feel free to
        explore!
      </p>

    </div>

    <div id="header" class="btn-group btn-group-justified col-md-10"
    role="group">

      <a type="button" class="btn btn-default about">About Me</a>
      <a type="button" class="btn btn-default resume">Resume</a>
      <a type="button" class="btn btn-default examples">Examples</a>

    </div>

    <div id="show" class="container text-center">

    </div>
  </body>
</html>
