<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Aaron R McGrath Personal Website</title>

    <!-- STYLES -->
    <link rel="stylesheet" href="/assets/vendors/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="/assets/vendors/bootstrap/dist/css/bootstrap.css.map" />
    <link rel="stylesheet" href="/assets/styles/stylesheet.css" />


    <!-- SCRIPTS -->

    <script type="text/javascript" src="/assets/vendors/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="/assets/vendors/jquery/dist/jquery.min.js"></script>

    <script type="text/javascript" src="/assets/scripts/client.js"></script>
    <base href="/">


  </head>
  <body>

    <div class="jumbotron welcome">

          <h1 class="container text-center ">aaronrmcgrath.com</h1>

    </div>

    <div class="container">

      <h3 class="container text-center">
        Hi, I'm Aaron McGrath, welcome to my website!
      </h3>

    </div>

    <div id="header" class="btn-group btn-group-justified col-md-10"
    role="group">

      <a type="button" class="btn btn-default about button">About Me</a>
      <a type="button" class="btn btn-default resume button">Resume</a>
      <a type="button" class="btn btn-default examples button">Examples</a>

    </div>

    <div id="show" class="container">

    </div>
  </body>
</html>
